<div class="footer">
  <div class="d-flex flex-column align-items-center justify-content-around h-100">
    <div class="row">
      <div class="col-12 text-center contact-me">
        <p>Feel free to contact me!</p>
      </div>
    </div>
    <div class="row justify-content-center align-items-center icons">
      <%= link_to 'https://twitter.com/BjarneHinkel', target:'_blank' do %>
        <div class="icon-container twitter">
          <i class="fab fa-twitter"></i>
        </div>
      <% end %>
      <%= link_to 'https://www.linkedin.com/in/bjarne-hinkel-46a668151/', target:'_blank' do %>
        <div class="icon-container linkedin">
          <i class="fab fa-linkedin-in"></i>
        </div>
      <% end %>
      <%= link_to 'https://github.com/bjarnehinkel', target:'_blank' do %>
        <div class="icon-container github">
          <i class="fab fa-github-alt"></i>
        </div>
      <% end %>
      <%= link_to 'mailto:bjarne@hinkels.de', target:'_blank' do %>
        <div class="icon-container mail">
          <i class="fas fa-envelope"></i>
        </div>
      <% end %>
    </div>
    <div class="row justify-content-center made-by align-items-center">
        <p>Portfolio made by me</p>
        <i class="far fa-copyright"></i>
        <p>twentytwenty</p>
    </div>
    <div class="row impressum-link align-items-center">
      <%= link_to impressum_path do %>
        <p>Impressum</p>
      <% end %>
    </div>
  </div>
</div>
