<%= render 'components/banner' %>
<div class="container whole-page">
  <div id="info-anchor"></div>
  <div class="info-text h-100">
    <div class="row">
      <div class="col-12 text-center">
        <h1 class="skills-header">What do I offer?</h1>
      </div>
    </div>
    <div class="row h-100 align-items-start info-cards">
      <div class="col-lg-4 col-md-6 col-sm-12">
        <%= render 'components/full-stack-card' %>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <%= render 'components/web-pages-card' %>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <%= render 'components/web-apps-card' %>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center">
        <h1 class="past-projects-header">My past Projects</h1>
      </div>
    </div>
    <div class="row project-cards">
      <div class="col-lg-4 col-md-6 col-sm-12">
        <%= render 'components/plan-your-night' %>
      </div>
    </div>
  </div>
</div>
<div class="fade"></div>
<%= render 'components/footer' %>
