<!DOCTYPE html>
<html>
  <head>
    <title>Bjarne Hinkel | Full-Stack Developer</title>
    <meta name="description" content="Full-Stack developer for webapps and webpages with modern and minimalistic design.">
    <meta name="og:description" content="Full-Stack developer for webapps and webpages with modern and minimalistic design.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:site_name" content="Developer for web-sites and web-applications.">
    <meta property="og:title" content="Bjarne Hinkel | Full-Stack Developer">
    <meta property="og:url" content="http://www.bjarnehinkel.com">
    <meta property="og:image" content="<%= asset_path('logo.png') %>">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:card" content="summary">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="twitter:site" content="@BjarneHinkel">
    <meta name="twitter:creator" content="@BjarneHinkel">
    <meta name="twitter:title" content="Bjarne Hinkel">
    <meta name="twitter:description" content="Full-Stack developer for webapps and webpages with modern and minimalistic design.">
    <meta name="twitter:image" content="<%= asset_path('logo.png') %>">
    <%= favicon_link_tag asset_path('favicon.ico') %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
